:root {
  --theme-background: #A1CE5E;
  --theme-background-alt: #003349;
  --theme-background-white: #ffffff;
  --theme-background-darkgrey: #C4C4C4;
  --theme-background-bluealpha: #0033491a;
  --theme-background-active: #6fd2f8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.4;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #ffffff;
  margin: 0;
}

header, footer{
  background: var(--theme-background);
}

header {
  border-bottom: .3rem solid var(--theme-background-alt);
  height: 6rem;
}

.flex_header_container {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  height: calc(100% - 1.6rem);
  padding: .8rem;
}

.header_inner_container {
  display: flex;
  width: 50%;
  height: 100%;
  justify-self: center;
}

.header_inner_container_outer {
  display: flex;
  width: 25%;
  height: 100%;
}

.storybook_logo {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

#bigger_hearts_logo {
  max-width: 100%;
  max-height: 65%;
  margin: 0 0 auto auto;
}

.menu_icon_container {
  cursor: pointer;
  margin: auto auto auto 0;
  padding-left: .4rem;
}

.burger_cross_wrapper {
  background-color: var(--theme-background-alt);
  position: sticky;
  top: 0;
}

.margin_bottom {
  margin-bottom: 2rem;
}

#nav_links {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 92;
  height: 100%;
  min-height: 12.6rem;
  max-width: 82vw;
  background: var(--theme-background-alt);
  transform: translateX(-82vw);
  transition: transform 0.3s;
  visibility: hidden;
  overflow-y: auto;
}

.nav_link {
  background-color: var(--theme-background-white) ;
  border-style: solid;
  border-left-color: var(--theme-background);
  color: var(--theme-background-alt);
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: transform 0.2s;
}

.biggerHearts_icon {
  margin: auto 1rem 1rem auto;
  width: 2rem;
}

.nav_link_active,
.nav_link:hover {
  color: var(--theme-background-active);
  text-decoration: underline;
  border-color: var(--theme-background-alt);
  border-left-color: var(--theme-background-active);
  color: var(--theme-background-active);
}

#burgerMenu {
  width: 3rem;
  max-width: 100%;
  display: block;
}

#burgerCross {
  width: 1.625rem;
  height: 1.625rem;
  max-width: 25%;
  margin: 2.187rem 1.888rem;
  display: block;
  cursor: pointer;
}

.change #nav_links {
  transform: translateX(0);
  transition: transform 0.3s;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  visibility: visible;
}

.nav_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 91;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.change .nav_overlay {
  visibility: visible;
  opacity: 1;
}

main {
  display: inline-flex;
  flex-direction: column;
  overflow-y: auto;
  margin-bottom: auto;
  min-height: 6rem;
}

.flex_top_main_container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 0 1.2rem;
}

.flex_toggle_switch_container {
  display: flex;
  align-items: flex-end;
  justify-content:flex-end;
  background-color: var(--theme-background-bluealpha);
  border-radius: 1rem 0 0 1rem;
  max-height: 2rem;
  padding: 0rem 1.2rem .5rem 1rem;
}

.toggle_switch_icon_small {
  height: 1.5rem;
}

 #toggle_locked {
  margin-left: auto;
 }

 #map {
  height: 3rem;
  cursor: pointer;
 }

 .animal_collection_trailmap {
   display: none;
 }

 .animal_collection_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  margin: .4rem .4rem 1.6rem .4rem;
}

.animal_wrapper {
  margin: .4rem;
  cursor: pointer;
  position: relative;
}

.animal_image {
  display: block;
  width: 100%;
  height: 100%;
}

#storyending {
  padding: .4rem;
  background-color: var(--theme-background-bluealpha);
}

.lock_status {
  position: absolute;
  bottom: 3%;
  right: 3%;
  max-width: 20%;
  z-index: 10;
}

.trailmap, .welcome_wander_wrapper, .how_to_section_wrapper {
  max-width: 100%;
  background-color: var(--theme-background-bluealpha);
  border: 1px solid var(--theme-background-alt);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 0;
}

.how_to_section_wrapper {
  width: 100%;
}

.how_to_section_wrapper_h2 {
  margin-left: 0;
}

.trailmap_img, .find_us_all_img {
  width: 100%;
}

.trailmap_img {
  border-radius: 1rem;
  margin: auto;
}

.trailmap_legend, .animal_collection_trailmap_legend {
  display: flex;
  flex-direction: column;
}

.trailmap_legend_item, .how_to_item {
  display: flex;
  margin-bottom: 1rem;
}

.trailmap_legend_item {
  align-items: flex-start;
}

.how_to_item {
  align-items: center;
}

.trailmap_legend_item_icon {
  height: 2rem;
  width: 2rem;
  margin-right: .5rem;
}

.how_to_item_icon {
  height: 4rem;
  width: 4rem;
  margin-right: 1rem;
}

.trailmap_legend_trail_item, .animal_collection_trailmap_legend_trail_item {
  position: relative;
  margin-bottom: 1rem;
}

.trailmap_legend_trail_icon {
  position: absolute;
  width: 5.3rem;
  top: 0;
  left: 0;
}

.trailmap_legend_item_text_wrapper {
  margin-left: 2.5rem;
}

.trailmap_legend_item_maintext, .trailmap_legend_trail_item_maintext, .trailmap_legend_item_subtext {
  margin: 0;
}

.how_to_item_maintext {
  margin: auto auto auto 0;
  font-weight: bold;
}

.trailmap_legend_item_maintext {
  padding-top: .4rem;
}

.trailmap_legend_trail_item_maintext {
  padding-top: 2rem;
}

.trailmap_legend_item_subtext, .small_font {
  font-size: .8rem;
}

.welcome_wander_top_container {
  display: flex;
  align-items: center;
}

.welcome_wander_top_container article span {
font-size: .9rem;
}

.welcome_wander_icon {
  display: block;
  max-height: 100%;
  padding-right: .5rem;
}

.trailmap_wrapper, .how_to_wrapper {
  margin: .8rem .8rem 1.6rem .8rem;
}

.how_to_wrapper {
  display: flex;
  flex-wrap: wrap;
}

#qr-canvas {
  position: fixed;
  width: 100%;
  height: calc(100% - 10.6rem);
  bottom: 4.3rem;
  z-index: 80;
}

.camera_button_wrapper {
  margin-bottom: 3rem;
  z-index: 90;
}

.footer_button_wrapper {
  margin-bottom: 4rem;
  z-index: 90;
}

.footer_button {
  height: 4rem;
  cursor: pointer;
}

#btn-scan-qr {
  cursor: pointer;
}

#camera_icon {
  width: 4rem;
  display: block;
  padding: .4rem;
  background-color:var(--theme-background-white);
  border-radius: 1rem;
  border: .3rem solid var(--theme-background-alt);
}

footer {
  border-top: .3rem solid var(--theme-background-alt);
  height: 4rem;
  bottom: 0;
}

.flex_footer_container {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - .8rem);
  padding: .4rem;
}

.footer_container_inner {
  height: 100%;
  width: 100%;
  display: flex;
  font-size: 80%;
}

.footer_container_instruction {
  display: flex;
  margin: 0 auto;
}

.footer_icon {
  max-height: 100%;
}

.footer_text {
  margin: 0 .2rem 0 auto;
  font-size: 100%;
  font-family: serif;
  font-weight: bold;
}

.arrow {
  max-height: 50%;
  margin: 0 auto auto auto;
}

.footer_tablet_version {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2.25rem;
  height: 1.275rem;
  margin: 0 .25rem;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--theme-background-darkgrey);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.975rem;
  width: 0.975rem;
  left: 0.15rem;
  bottom: 0.15rem;
  background-color: var(--theme-background-white);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 0.063rem #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(0.975rem);
  -ms-transform: translateX(0.975rem);
  transform: translateX(0.975rem);
}

.slider.round {
  border-radius: 2.125rem;
}

.slider.round:before {
  border-radius: 50%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  background-color: rgba(0,0,0,0.6);
  backdrop-filter: blur(6px);
  justify-content: center;
  padding: 1rem;
}

.modal_content { 
  background-color: var(--theme-background-alt);
  color:  var(--theme-background-white);
  border: 1px solid var(--theme-background-white);
  padding: 1rem;
  border-radius: 1rem;
  max-height: calc(100% - 2rem);
  max-width: 45rem;
  display: none;
  flex-direction: column;
  align-self: center;
  overflow-y: auto;
}

.modal_animal_bio {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1rem 0 .5rem 0;
  height: 10rem;
}

.modal_animal_image_wrapper {
  height: 100%;
  border-radius: 1rem;
  margin: auto 1rem auto 0;
}

.modal_animal_image {
  border: 1px solid var(--theme-background-white);
  border-radius: 1rem;
  width: 100%;
  max-height: 100%;
  display: block;
}

.bold_bio_info {
  list-style-type: none;
  font-weight: bold;
  font-size: .75rem;
}

.bio_info {
  font-weight: normal; 
}

.modal_animal_bio_wrapper {
  min-width: 60%;
  margin: auto 0;
}

.modal_sound_outer_wrapper {
  display: flex;
  justify-content: center;
}

.modal_sound_ending_story_outer_wrapper {
  display: flex;
  justify-content: flex-end;
}

.modal_sound_inner_wrapper, .modal_sound_ending_story_inner_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_sound_ending_story_inner_wrapper {
  max-width: 50%;
  justify-content: flex-end;
}

.modal_sound_icon_text_wrapper p {
  margin: auto;
}

.modal_sound_icons {
  padding: .25rem;
  width: 30%;
  cursor: pointer;
}

.modal_sound_icons > img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.modal_sound_inner_wrapper p, .modal_sound_ending_story_inner_wrapper p {
  font-size: .75rem;
  padding: 0 .25rem;
}

.modal_scrollable_content {
  overflow-y: auto;
  border-radius: 1rem 1rem 0 0;
  min-height: 6rem;
}

.scroll_blur_top, .scroll_blur {
  position: sticky;
  width: 100%;
  padding: .25rem 0;
  background-color: rgba(0, 51, 73, 0.5);
  backdrop-filter: blur(1px);
}

.scroll_blur_top {
  top: 0;
}

.scroll_blur {
  bottom: 0px;
}

.modal_story, .modal_facts {
  color: #000;
  border-radius: 1rem;
  padding: .1rem 1.1rem;
  width: auto;
}

.modal_story {
  background-color: #FFFAC6;
}

.modal_facts {
  background-color: #FFECC6;
  margin-top: 1rem;
}

.modal_hint_wrapper, .modal_first_scan_wrapper, .modal_lock_toggle_confirmation_wrapper, .modal_ending_story_wrapper { 
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal_ending_story_wrapper {
  background: var(--theme-background-alt);
  background: linear-gradient(180deg, var(--theme-background-alt) 25%, var(--theme-background-white) 100%);
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.modal_hint_img {
  width: calc(100% - 2px);
  border-radius: 1rem;
  border: 1px solid var(--theme-background-white);
  margin: auto;
}

.modal_hint_img_top { 
  margin: 1rem 0;
}

.modal_ending_story_img { 
  padding: 0 2.5rem;
  max-width: 100%;
  max-height: 100%;
}

#modal_lock_status_confirmation_content, #modal_external_first_scan_content, #modal_locked_ending_story_content, #modal_locked_content {
  display: none;
}

.hiden_scroll_blur {
  display: none;
}

.close {
  max-width: 10%;
  margin-left: auto;
}

h2 {
  margin: 0 auto 1rem auto;
}

.modal_h2_heading {
  text-align: center;
}

h3 {
  margin: 1rem 0 .4rem 0;
}

.p_top {
  margin-top: 0;
}

.italic {
  font-style: italic;
}

.no_margin {
  margin: 0;
}

.user_input_form {
  display: flex;
  justify-content: flex-end;
}

.user_input_form_button {
  padding: .8rem .5rem;
  margin-left: .5rem;
  margin-top: .5rem;
  transition-duration: 0.4s;
  background-color: var(--theme-background-alt);
  border: 2px solid var(--theme-background-white);
  color: #fff;
  border-radius: .5rem;
}

.user_input_form_button:hover {
  background-color: var(--theme-background-white); 
  color: black;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 823px) and (orientation: landscape) {

  header {
    height: 4rem;
  }

  footer {
    height: 2rem;
  }

  #burgerMenu {
    width: 2rem;
  }

  #burgerCross {
    width: 1.083rem;
    height: 1.083rem;
  }
  
  #burgerCross {
    margin: 1.458rem 1.659rem;
  }
  
  #camera_icon {
    width: 2rem;
  }

  .camera_button_wrapper {
    margin-bottom: 2rem;
  }

  .footer_button {
    height: 2rem;
  }

  .footer_button_wrapper {
    margin-bottom: 2rem;
  }

  #qr-canvas {
    bottom: 2.3rem;
    height: calc(100% - 2.3rem);
  }

  .modal_sound_outer_wrapper {
    justify-content: flex-end;
  }

  .close {
    max-width: 1.5rem;
  }

  .modal_sound_icons {
    padding: .25rem;
    width: auto;
    cursor: pointer;
    height: 1rem;
  }

  .modal_animal_bio {
    height: 5rem;
    margin-top: 0rem;
  }

  .modal_h2_heading {
    font-size: 100%;
    margin-top: -1.4rem;
  }

  .modal_sound_icon_text_wrapper br {
    display: none;
  }

  .modal_sound_icon_text_wrapper p {
    margin: 0;
  }

  .modal_sound_icon_text_wrapper {
    padding-right: .5rem;
  }
  
  .modal_sound_outer_wrapper {
    margin-top: -.5rem;
  }

  .modal_scrollable_content {
    min-height: 3.5rem;
  }  

  #modal_locked_content {
      width: 47%;
      margin-left: auto;
      margin-right: auto;
    }

  .modal_hint_img_top {
    margin-top: .25rem;
  }

  .hiden_scroll_blur {
    display: inherit;
  }

  .modal_ending_story_wrapper {
    height: 7rem;
  }

  .animal_collection_wrapper {
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  }

  .find_us_all_img {
    max-width: 50%;
    padding: 0 1rem;
    margin: 0 auto;
  }
  
}

@media screen and (min-height: 0px) and (max-height: 266px) { 
  #qr-canvas {
    top: 0;
    height: 100%;
  }
}

@media screen and (min-width: 0px) and (max-width: 615px) { 
  .modal_h2_heading {
    margin: 0 auto .4rem auto;
  }
}

@media screen and (min-width: 768px) {

  #nav_links {
    min-width: 24rem;
  }

  .trailmap_legend_items_wrapper, .trailmap_legend_trail_items_wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
  .trailmap_legend_item, .trailmap_legend_trail_item {
    width: 50%;
  }

  .trailmap_legend_item_maintext, .trailmap_legend_item_subtext, .trailmap_legend_trail_item_maintext, .trailmap_legend_item_subtext {
    margin-right: 1rem;
  }

  .htsw1 {
    width: calc(50% - 2.2rem);
  }

  .htsw2 {
    width: calc(50% - 3rem);
    margin-left: .8rem;
  }

.how_to_section_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

}

@media screen and (min-width: 1024px) and (orientation: landscape) {

  .how_to_main {
    margin-top: auto;
  }

  .how_to_wrapper {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .find_us_all_img {
    max-width: 35%;
    order: 2;
    padding: 0 1rem;
  }

  .how_to_section_wrapper {
    max-width: 25%;
  }

  .htsw1 {
    order: 1;
  }

  .htsw2 {
    order: 3;
    margin-left: 0;
  }

  .animal_collection_and_map_wrapper {
    display: flex;
    align-items: flex-start;
  }
  
  .animal_collection_trailmap {
    display: flex;
    flex-direction: column;
    width: calc(50% - 3rem);
    background-color: var(--theme-background-bluealpha);
    border: 1px solid var(--theme-background-alt);
    border-radius: 1rem;
    padding: 1rem;
    margin: .8rem 0 2rem .8rem;
    align-self: stretch;
  }

  .animal_collection_wrapper {
    width: 50%;
  }

  .animal_collection_trailmap_legend_item {
    display: flex;
    align-items: flex-start;
    width: 33%;
    margin-bottom: 1rem;
  }

  .modal_ending_story_wrapper {
    height: 21rem;
  }
}

@media screen and (min-width: 824px) {

   .footer_tablet_version {
    display: flex;
  }

  .footer_mobile_version {
    display:none;
  } 
}

@media screen and (min-width: 1024px) {
  .trailmap_inner_wrapper {
    display: flex;
    flex-direction: column;
  }

  .full_width {
    width: 100%;
  }

  .trailmap_legend_item {
    width: 16.66%;
  }

  .trailmap_legend_trail_item, .animal_collection_trailmap_legend_trail_item {
    width: 33.32%;
  }  
}

@media screen and (min-width: 1366px) {

  .trailmap_legend_trail_item {
    width: 16.66%;
  }

  .animal_collection_wrapper {
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  }

  .welcome_wander_wrapper {
    display: flex;
  }

  .welcome_wander_h2 {
    white-space: nowrap;
  }

  .welcome_wander_top_container {
    margin-right: 2rem;
  }
}

@media screen and (min-width: 1920px) {

  .trailmap_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .trailmap_inner_wrapper {
    flex-direction: row;
  }

  .trailmap_legend {
    padding-left: 1rem;
  }

  .trailmap_legend_item, .trailmap_legend_trail_item {
    width: 33.32%;
  }

  .how_to_section_wrapper {
    max-width: 30rem;
    height: 28.5rem;
    margin: auto 0;
  }
}

@media screen and (min-width: 2560px) {

  .trailmap_legend_item, .trailmap_legend_trail_item {
    width: 50%;
  }
}